:root {
    --primary-font: 'Roboto', sans-serif; 
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2E2F42;
    --logo-color: #4D5AE5;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --white: #FFFFFF;
    --ocean: #404BBF;
    --cloud: #F4F4FD;
    --mood: #e7e9fc;

}


body {
    font-family: var(--primary-font);
    color: var(--slate);
    background-color: var(--white);
    

}


h1,h2,h3,h4,p {
    margin: 0;
}


img {
    display: block;

}


.list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.link {
    text-decoration: none;
}


.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px; 
    padding-right: 15px;
    
}



/* COMPONENTS */
.logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color); 
    
}
 .logo-dark {
   font-family: var(--secondary-font);
   font-weight: 800;
   font-size: 18px; 
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--accent-color);
    
 }

 .logo-light {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);

}

 .description-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;

}



.description-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);

}

.title-description {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;

}

.img-item {
    width: 360px;
    height: 300px;
    width: calc((100% - 3 * 16px) / 3);
   
}


.section {
    padding-top: 120px; 
    padding-bottom: 120px;
}


/* HEADER */

.page-header {
    border-bottom: 1px solid var(--mood); 

}

.header-container {
    display: flex;
    align-items: center;

}

.logo {
    
    margin-right: 76px;
    display: block;
   
    
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 40px;
}

.page-nav {
    margin-right: auto;
    display: flex;
    align-items: center; 
}

.menu {
    display: flex;
}

.address {
    font-style: normal; 

}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--ocean);
    color: var(--ocean);

}


 .menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

 }

 .menu-link:hover,
 .menu-link:focus {
    color: var(--ocean);

 }

 .contacts-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);

 }

 .contacts-link:hover,
 .contacts-link:focus {
    color: var(--ocean);
 }

 
 
 /* HERO */

 .hero-section {
  
    padding-top: 188px; 
    padding-bottom: 188px;
 }

 .hero {
    background-color: var(--accent-color);

 }

 .main-title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);  
    margin-bottom: 48px;
    max-width: 496px;  
 }


 .modal-btn {
    margin: 0 auto;
    display: block;
    border: none;
    min-width: 169px;
    min-height: 56px;
    padding: 15px 31px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--logo-color);  
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
 }


 .modal-btn:hover,
 .modal-btn:focus {
    color: var(--white);
    background: var(--ocean);
 }


/* DESCRIPTION */

.page-container {
    display: flex;
    align-items: center;
}

.description-list {

    
    display: flex;
    gap: 24px; 
}



.description-item {
    
    width: calc((100% - 3 * 24px) / 4); 

} 

/* DOING */
.text {
    padding-bottom: 120px;
}

 .img-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}


/* OUR TEAM */



.our-team {
    background-color: var(--cloud);

}


.img-list-team {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.img-team-item {
    width: 264px;
    background-color: var(--white);
    width: calc((100% - 3 * 24px) / 4);
}

.team-wrapper {
     border-radius: 0px 0px 4px 4px;
     padding: 32px 16px;
     text-align: center;
}

/* FOOTER */

.logo-tipe {
    background-color: var(--navy-blue);
    padding-top: 100px; 
    padding-bottom: 100px;

}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px; 
}

.footer-text {
    width: 264px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);  

}

/* PORTFOLIO */

.project {
    padding-top: 96px; 
    padding-bottom: 120px;
}

.body-color {
    color: var(--slate);
}

.list-btn {
    font-family:var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--logo-color);
    background: var(--cloud);
    
    padding-top: 12px; 
    padding-bottom: 12px; 
    padding-left: 24px; 
    padding-right: 24px;
    border: 1px solid var(--mood);
    border-radius: 4px;
}

.list-btn:hover,
.list-btn:focus {
    background: var(--ocean);
    color: var(--white);
    background: var(--ocean);
    color: var(--white);
    border: 1px solid transparent;

}



.project-img-item {
    
    width: 360px;
   
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px; 

}

.img-portfolio-item {
    width: calc((100% - (24px * 2)) / 3);
    

}

.team-wrapper-portfolio {
    padding: 32px 16px;
    border: 1px solid var(--mood); 
    border-top: none; 

}

.list-button {
  justify-content: center; 
  gap: 24px;
  margin-bottom: 72px;
  display: flex;
  align-items: center;  
}



